In [ ]:
import pandas as pd
from sqlalchemy import create_engine
import matplotlib as mp
engine = create_engine('postgresql://localhost:49902/ETL Project')
conn = engine.connect()

In [ ]:
salaries = pd.read_sql("SELECT * FROM salaries", conn)

In [ ]:
bins = [0, 39999, 49999, 59999, 69999, 79999, 1000000]
labels = ['less than 40,000','40,000 to 50,000','50,000 to 60,000'/
              ,'60,000 to 70,000', '70,000 to 80,000', 'greater than 80,000']
salaries['binned'] = pd.cut(salaries['salary'], bins=bins, labels=labels)

In [ ]:
#create histogram of salary ranges

In [ ]:
titles = pd.read_sql("SELECT * FROM titles", conn)
sal_by_title = #join salaries and title on emp_no

In [ ]:
#bar chart avg salary by title
#? groupby title, then average salary